{% extends "base_jobs.html"  %}
{% load static %}

{% block title %}
Profile :: {{block.super}}
{% endblock %}


{% block content %}


<div class="container my-3">

    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        {% if profile.profile_picture %}
                        <img src="/media/{{profile.profile_picture}}" alt="Avatar" class="rounded-circle" width="150">
                        {% else %}
                        <img src="{% static '/img/missing.jpg' %}" alt="Avatar" class="rounded-circle" width="150">
                        {% endif %}

                        <div class="mt-3">
                            <h4>{{profile.user.username}}</h4>
                            <p class="text-secondary mb-1">
                                {% if profile.occupation %}
                                Специальность: {{profile.occupation}}
                                {% endif %}
                            </p>
                            <p class="text-muted font-size-sm">{{profile.city}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">

                    {% if profile.user.first_name or profile.user.last_name %}
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Имя</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{profile.user.first_name}} {{profile.user.last_name}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}


                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Почтовый адресс</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{profile.user.email}}
                        </div>
                    </div>

                    <hr>


                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Дата регистрации</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{profile.user.date_joined | date:"d M Y"}}
                        </div>
                    </div>
                    <hr>

                    {% if profile.user.profile.city %}
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Город проживания:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ profile.user.profile.city }}
                        </div>
                    </div>
                    <hr>
                    {% endif %}



                    {% if profile.user.profile.bio %}
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">О себе</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {% autoescape off %}
                            {{ profile.user.profile.bio | linebreaks }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <hr>
                    {% endif %}





                </div>
            </div>

        </div>
    </div>




    {% if user.username == profile.user.username %}
    <div class="row">
        <div class="col-md-12">

                <p>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Редактировать профиль
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary btn-lg btn-secondary">Обновить</button>
                        </form>
                        <form method="post" class="mt-5" action="{% url 'delete' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg btn-secondary">Удалить аккаунт</button>
                        </form>
                    </div>
                </div>


        </div>
    </div>
    {% endif %}
</div>

<div class="col-md-12 mb-10" style="height:30px;clear:both;"></div>
{% endblock %}
